.cycle {
    display: flex;
    padding: 8px;
    font-size: 12px;
    border-radius: 16px;
    max-width: fit-content;
    color: var(--text-over-primary);
}

.red {
    background: var(--error);
}

.green {
    background: var(--success);
}

.blue {
    background: var(--info);
}