.container {
    position: relative;
    height: 8px;
    width: 60%;
    background-color: var(--gray-700);
    overflow: hidden;
    border-radius: 8px;
}

.progressBar {
    position: absolute;
    overflow: hidden;
    height: 100%;
    display: block;
    border-radius: inherit;
    background-color: var(--text-over-primary);
    transition: width 0.4s;
    left: 0;
    top: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}